---
layout: frame
---

<section class="hero is-warning is-bold is-fullheight">
  <!-- Hero head: will stick at the top -->
 

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <div class="main-title">
        <p style="letter-spacing: 0.2em">
          MELTINGCON
        </p>
        <p style="letter-spacing: 0.255em">
          COMMUNITY
        </p>
        <p style="letter-spacing: 0.485em">
          ALLIANCE
        </p>
      </div>
      <h2 class="subtitle">
        대한민국의 다양한 개발자 커뮤니티와 IT 커뮤니티가 모인 커뮤니티 동맹체
      </h2>
      <div class="buttons">
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="{{ '/about' | prepend: site.baseurl }}">소개</a>
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="{{ '/members' | prepend: site.baseurl }}">참여 커뮤니티</a>
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="{{ '/news' | prepend: site.baseurl }}">새 소식</a>
      </div>
      <div class="buttons">
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="https://github.com/meltingcon/meltingcon.github.io/wiki">위키</a>
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="https://github.com/meltingcon/meltingcon.github.io/wiki/Events">공동 행사</a>
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="https://github.com/meltingcon/meltingcon.github.io/wiki/Conference">멜팅콘 컨퍼런스</a>
      </div>
      <div class="buttons">
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="https://github.com/{{site.github_username}}">
            <i class="fab fa-github"></i></a>
          <a class="button is-inverted is-outlined is-warning is-medium"
            href="mailto:{{site.email}}">
            <i class="fas fa-at"></i></a>
      </div>
    </div>
  </div>

  
</section>
